.faq {
  padding: 80px 0;
  background: #0f0f17;
  text-align: center;
}

.faq h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.faq-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #6cf;
}

.faq-item p {
  opacity: 0.85;
  font-size: 15px;
  line-height: 1.8;
  text-align: left;
}

.faq-desc {
  opacity: 0.7;
  margin-bottom: 50px;
}

.faq-list {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.faq-item {
  background: #171727;
  padding: 25px 30px;
  border-radius: 15px;
  margin-bottom: 20px;
}