* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #0f0f17;
  color: #fff;
  line-height: 1.8;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
